/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
RESET
*/

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* HEADER */
header {
  background-color: black;
  height: 50px;
  color: white;
}

.header-container {
  display: flex;
  position: relative;
}

.speaker-view,
.icona-x {
  background-color: #4a4a4a;
  padding: 4px 4px;
  border-radius: 5px;
  font-size: 13px;
}

.speaker-view {
  position: absolute;
  top: 5px;
  right: 30px;
}

.icona-x {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* /HEADER */

/* MAIN */
main {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  background-color: black;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 40px 40px;
}

.grills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.grill {
  width: calc((100% -20px) / 6);
}

.grill-img {
  width: 180px;
  position: relative;
}

img {
  width: 100%;
}

.pinco-pallo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 3px;
}

/* /MAIN */

/* FOOTER */
.footer-container {
  background-color: #222222;
  height: 60px;
  color: white;
}

.icone-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.icone-centrali {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}

/* /FOOTER */
