/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
RESET
*/

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* HEADER */
header {
  background-color: black;
  height: 50px;
  color: white;
}

.header-container {
  display: flex;
  position: relative;
}

.speaker-view,
.icona-x {
  background-color: #4a4a4a;
  padding: 4px 4px;
  border-radius: 5px;
  font-size: 13px;
}

.speaker-view {
  position: absolute;
  top: 5px;
  right: 30px;
}

.icona-x {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* /HEADER */

/* MAIN */
main {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.main-container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 40px 80px;
}

.grills {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.grill {
  width: calc(100% / 7);

  /* rimuovere questi valori */
  border: 2px solid black;
  background-color: aqua;
  height: 100px;
}

/* /MAIN */

/* FOOTER */
footer {
  background-color: green;
  height: 80px;
}
/* /FOOTER */
